<div class="container">
  <div class="row vh-100" style="padding-top: 60px; padding-bottom: 20px">

    <div class="col-5">
      <div class="card h-100 border">
        <div class="card-header">
          <h4 class="headers">Funds</h4>
        </div>
        <div class="card-body ">
          <p>
            Charity Name
          </p>
          <p>
            Total Income
          </p>
          <div *ngIf="allFunds$ | async as funds">
            <ul>
              <li class="fundsList" *ngFor="let eachFund of funds" (click)="getSelectedFunds(eachFund)">
                {{eachFund.charityName}}  {{eachFund.totalIncome}}

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7" >
      <div class="card h-100 border" >
        <div class="card-header ">
          <h4 class="headers">Selected Fund</h4>
        </div>
        <div class="card-body selStockDiv" *ngIf="fund">
          <h2 id="stockName">{{fund.charityName}}</h2>
          <br>
          <h4 id="stockDescription">{{fund.description}}</h4>
          <br>
          <br>
          <br>
          <div class="input-group mb-3 input-price">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input type="number" class="form-control"  placeholder="" aria-label="Price" aria-describedby="basic-addon1"
                   >
          </div>
          <div class="upd-del-btn">
            <button type="button" class="btn btn-info btn-upd" >Donate Money</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
