<div class="container">
  <div class="row vh-100 mainDiv">
    <div class="col-5">
      <div class="card h-100 border">
        <div class="card-header">
          <h4 class="headers">Funds</h4>
        </div>
        <div class="card-body">
          <div *ngIf="funds">
            <table class="table table-hover">
              <thead>
              <tr class="tableHeaders">
                <th scope="col">Charity Name</th>
                <th scope="col">Total Income</th>
              </tr>
              </thead>
              <tbody >
              <tr class="fundList fixed-content" *ngFor="let eachFund of funds" (click)="getSelectedFunds(eachFund)">
                <td>{{eachFund.charityName}}</td>
                <td>{{eachFund.totalIncome}} $</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7" >
      <div class="card h-100 border" >
        <div class="card-header ">
          <h4 class="headers">Selected Fund</h4>
        </div>
        <div class="card-body fixed-content selFundDiv" *ngIf="fund">
          <h2 id="fundName">{{fund.charityName}}</h2>
          <br>
          <h4 id="fundDescription">{{fund.description}}</h4>
          <br>
          <h5 >Phone: {{fund.telNumber}}</h5>
          <h5 >Email: {{fund.email}}</h5>
          <br>
          <div class="modal-footer">
            <input type="number" class="form-control"  placeholder="Enter Amount $" aria-label="Price" aria-describedby="basic-addon1"
                   [formControl]="donationAmount">
            <button type="button" class="btn btn-primary" (click)="updateAmount()">Donate Money</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
