<div class="container">
  <div class="row vh-100" style="padding-top: 60px; padding-bottom: 20px">

    <div class="col-5">
      <div class="card h-100 border">
        <div class="card-header">
          <h4 class="headers">Funds</h4>
        </div>
        <div class="card-body ">

            <p class="d-block p-2 bg-dark text-white text left">
            <strong>
              <mark>
                  Charity Name
              </mark>
            </strong>
          </p>


           <p class="d-block p-2 bg-dark text-white text right">
             <strong>
               <mark>
                  Total Income
               </mark>
             </strong>
           </p>



          <div *ngIf="funds">
            <ul>
              <li class="fundsList" *ngFor="let eachFund of funds" (click)="getSelectedFunds(eachFund)">
                {{eachFund.charityName}}  {{eachFund.totalIncome}}

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7" >
      <div class="card h-100 border" >
        <div class="card-header ">
          <h4 class="headers">Selected Fund</h4>
        </div>
        <div class="card-body selStockDiv" *ngIf="fund">
          <h2 id="stockName">{{fund.charityName}}</h2>
          <br>
          <h4 id="stockDescription">{{fund.description}}</h4>
          <br>
          <br>
          <br>
          <div class="input-group mb-3 input-price">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input type="number" class="form-control"  placeholder="" aria-label="Price" aria-describedby="basic-addon1"
            [formControl]="donationAmount">
          </div>
          <div class="upd-del-btn">
            <button type="button" class="btn btn-info btn-upd" (click)="updateAmount()">Donate Money</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
