.selStockDiv{
  text-align:center;
  position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
#stockName{
  font-size: 45px;
  font-family: 'Rubik', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
#stockDescription{
  font-family: 'PT Serif', serif;
}

.addStockBtn{
  position: absolute;
  bottom: 0;
  text-align: center;
}

.upd-del-btn{
  position: absolute;
  bottom: 50px;
  right: 30px;
}

.input-price{
  position: absolute;
  bottom: 150px;
  width: 70%;
  right: 30px;
}

.btn-upd{
  margin-right: 10px;
}

.border{
  border-style: groove;
  border-color: #17A2B6;
}

.headers{
  text-align: center;
  font-size: 30px;
  font-family: null;
}

.fundList{
  font-size: 20px;
  cursor: pointer;
  font-family: null;
  margin: 2px;
  text-align: center;
  list-style-type: none;
}

.mainDiv{
  padding-top: 60px;
  padding-bottom: 20px;
}
.card-body{
  height: 500px;
}
.fixed-content {
  overflow-y:scroll;
  overflow-x:hidden;
}
.tableHeaders{
  font-size: 22px;
  text-align: center;
  margin: 3px;
  border: none;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
#petName{
  font-size: 45px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
#petDescription{
  font-family: 'PT Serif', serif;
  text-align: center;
}

