<div class="container">
  <div class="row vh-100" style="padding-top: 60px; padding-bottom: 20px">

    <div class="col-5">
      <div class="card h-100 border">
        <div class="card-header">
          <h4 class="headers">Pets</h4>
        </div>
        <div class="card-body ">
          <div *ngIf="allPets$ | async as petS">
            <ul>
              <li class="petList" *ngFor="let pet of petS">
                {{pet.name}} - {{pet.description}}$
              </li>
            </ul>
          </div>
          <div class="upd-del-btn">
            <button type="button" class="btn btn-info btn-upd" >Add new pet</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7" >
      <div class="card h-100 border" >
        <div class="card-header ">
          <h4 class="headers">Selected Pet</h4>
        </div>
        <div class="card-body selStockDiv">
          <h2 id="stockName">Pet Name/Picture</h2>
          <br>
          <h4 id="stockDescription">Pet Description</h4>
          <br>
          <br>
          <br>

          <div class="upd-del-btn">
            <button type="button" class="btn btn-info btn-upd" >Adopt pet</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
