<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Sponsors</h4>
        <li><a href="">Emanuel</a></li>
        <li><a href="">Grigor</a></li>
        <li><a href="">Bulahruz</a></li>
      </div>
      <div class="footer-col">
        <h4>Funds</h4>
        <li><a href="">WWF</a></li>
        <li><a href="">Wayne</a></li>
        <li><a href="">Save the wheales</a></li>
      </div>
      <div class="footer-col">
        <h4>Contact</h4>
        <li><a href="">Gronningen 24, 1145 Vejle</a></li>
        <li><a href="">Tel: 6574822</a></li>
        <li><a href="">Fax: 66676239</a></li>
      </div>
      <div class="footer-col">
        <h4>Follow Us</h4>
        <li><a href="">Facebook</a></li>
        <li><a href="">Instagram</a></li>
        <li><a href="">Twitter</a></li>
      </div>
    </div>
  </div>
</footer>

