<div class="container">
  <div class="row upperDiv">
    <div class="col-md-4 headText" style="background: #005AA1;">
      <h3 style="text-align: center">Help your pet find a new home</h3>
    </div>
    <div class="col-md-8 p-0">
      <img src="assets/kitties.png" class="fixed-content">
    </div>
  </div>
</div>
<div class="container">
  <form class="submission-form" [formGroup]="petForm" (ngSubmit)="createPet()">
    <label for="name">Name: </label>
    <input type="text" formControlName="name" id="name" placeholder="Pet name">
    <label for="description">Description: </label>
    <input type="text" formControlName="description" id="description">
    <label for="age">Age: </label>
    <input type="text" formControlName="age" id="age" placeholder="2 months">
    <label for="type">Type: </label>
    <input type="text" formControlName="type" id="type" placeholder="Dog: Husky">
    <label for="address">Address: </label>
    <input type="text" formControlName="address" id="address">
    <button routerLink="/adopt-pet" class="btn btn btnBack" type="button">Back</button>
    <button type="submit" class="btn btn btnAdd">Save</button>
  </form>
</div>



<!--<div [formGroup]="petForm" *ngIf="!petCreate">
  <mat-card-subtitle fxLayoutAlign="right center">
    <mat-card-footer style = "font-weight: bold"> Please fill out all fields!!! </mat-card-footer>
  </mat-card-subtitle>

  <label>
    Name:
    <input type = "text" formControlName="name" id="name">
  </label>

  <label>
    Description:
    <input type = "text" formControlName="description" id="description">
  </label>

  <label>
    Age:
    <input type = "number" formControlName="age" id="age">
  </label>

  <label>
    Animal Type:
    <input type = "text" formControlName="type" id="type">
  </label>

  <label>
    Address:
    <input type = "text" formControlName="address" id="address">
  </label>

  <button type = "button" (click)="createPet()" class="btn btn-info btn-upd">Create</button>
</div>
<div *ngIf="petCreate">
  {{petCreate | json}}
  <button (click)="petCreate = undefined"> Oh yeah!</button>
</div>
<div fxLayout="row"  fxLayoutAlign="center top" fxLayoutGap="15px">
  <button routerLink="/adopt-pet" style="background-color: deepskyblue">Back</button>
</div> -->
