<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item drk1 active">
      <img class="d-block w-100" src="/assets/doggie.png" alt="Cute doggy">
      <div class="carousel-caption d-none d-md-block w-50 ml-auto mr-auto">
        <h5>My Caption Title</h5>
        <p>The whole caption will only show up if the screen is at least medium size.
          The whole caption will only show up if the screen is at least medium size. </p>
      </div>
    </div>
    <div class="carousel-item drk">
      <img class="d-block w-100" src="/assets/giraffes.jpg" alt="Giraffes">
      <div class="carousel-caption d-none d-md-block w-50 ml-auto mr-auto">
        <h5>My Caption Title</h5>
        <p>The whole caption will only show up if the screen is at least medium size.
          The whole caption will only show up if the screen is at least medium size.</p>
        <button type="button" class="btn btn-primary">Funds</button>
      </div>
    </div>
    <div class="carousel-item drk">
      <img class="d-block w-100" src="assets/kitty.jpg" alt="Cute kitty">
      <div class="carousel-caption d-none d-md-block w-50 ml-auto mr-auto">
        <h5>My Caption Title</h5>
        <p>The whole caption will only show up if the screen is at least medium size.
          The whole caption will only show up if the screen is at least medium size.</p>
        <button type="button" class="btn btn-primary">Adopt a pet</button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
